::-webkit-scrollbar-thumb {
    background-color: rgb(107, 109, 100);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
  }
  
::-webkit-scrollbar {
    width: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-image: url(/NEW_TO_DO_LIST/src/img/bg.jpg);
    width: 500px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
}

.input {
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
}

.body {
    width: 500px;
    height: 400px;
    background: rgb(204, 196, 196);
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.task {
    border: 2px black solid;
    background-color: rgb(212, 155, 155);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    outline: none;
}

p {
    width: 80%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    display: inline-block;
}

i {
    float: right; 
    margin-right: 10px;
    display: inline-block;
}

i.fa-arrows {
    float: left;
    margin: 0px 10px 0px 5px; 
}



